{% include 'Textiles/admin.html.twig' %}
{% include 'Textiles/admin.html.twig' %}
<br><br><br>
{% if annonceurs %}
<h3 style="text-align: center;">Annonceurs</h3>
<br>
<table class="table table-bordered">
	<thead class="thead-light">
		<tr>
			<th scope="col" style="text-align: center;">ID</th>
			<th scope="col" style="text-align: center;">Nom</th>
			<th scope="col" style="text-align: center;">Téléphone</th>
			<th scope="col" style="text-align: center;">Email</th>
			<th scope="col" style="text-align: center;">Image</th>
			<th scope="col" style="text-align: center;">Annonces</th>
			<th scope="col" style="text-align: center;">Actions</th>
		</tr>
	</thead>
	<tbody>

		{% for annonceur in annonceurs %}
		<tr>
			<td style="text-align: center; vertical-align: middle;">{{ annonceur.id }}</td>
			<td style="text-align: center; vertical-align: middle;">{{ annonceur.nomAnnonceur }}</td>
			<td style="text-align: center; vertical-align: middle;">{{ annonceur.numAnnonceur |number_format(0, '', ' ')}}</td>
			<td style="text-align: center; vertical-align: middle;">{{ annonceur.emailAnnonceur }}</td>
			<td style="text-align: center; vertical-align: middle;"><img style="width: 70px; height: 70px" src="{{ asset('uploads/profile_images/' ~ annonceur.imageAnnonceur ) }}" alt="imageAnnonceur"></td>
			<td style="text-align: center; vertical-align: middle;"><a href="{{ path('AnnoncesAnnonceur', {id: annonceur.id} ) }}">Afficher tous</a></td>
			<td style="text-align: center; vertical-align: middle;"><button onclick="showConfirm({{ annonceur.id }})" class="btn btn-danger btn-lg"><i class="material-icons">delete</i></button></td>
			<!-- 
				/admin-panel/supprimer/annonceur/{{ annonceur.id }}
			-->
		</tr>

      <div id="confirm{{ annonceur.id }}" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="margin-left: 70px">Confirmer la suppression</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <h4 style="">Êtes-vous sûr de vouloir supprimer définitivement l'annonceur {{ annonceur.nomAnnonceur }} et toutes ses annonces ?</h4>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('supprimerAnnonceur', {id: annonceur.id} ) }}"><button type="button" class="btn btn-danger">Oui</button></a>
                    <button type="button" class="btn btn-success" onclick="hideConfirm({{ annonceur.id }})">Non</button>
                    <button type="button" class="btn btn-primary" onclick="hideConfirm({{ annonceur.id }})">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</tbody>
</table>
{% else %}
<h3 style="text-align: center;">Aucun annonceur existant</h3>
<br><br>
<center>
    <img src="{{ asset('bundles/app/images/noAnnonces.png') }}" alt="Pas d'annonces">
</center>
{% endif %}

<div style="position: fixed; background-color: black; width: 100%; height: 100%; top: 0; opacity: 0.6; display: none; z-index: 8"
id="black_div">
</div>


<script type="text/javascript">
    function showConfirm(id) {
        document.getElementById('confirm'+id).style.display = "block";
        document.getElementById('black_div').style.display = "block";
    }

    function hideConfirm(id) {
        document.getElementById('confirm'+id).style.display = "none";
        document.getElementById('black_div').style.display = "none";
    }

</script>