{% include 'Textiles/admin.html.twig' %}
<a href="{{ path('adminAnnonceurs') }}">
	<div class="form-control" style="background-color: gray ; width: 250px; height: 280px; position: absolute; margin-left: 10%; padding: 0; margin-top: 100px">
		<center>
			<h1 class="btn btn-dark btn-block" style="text-align: center; font-size: x-large; margin: 0">Annonceurs</h1>
			<img style="width: 200px; height: 200px; margin-top: 15px" src="{{ asset('bundles/app/images/annonceurs.png') }}" alt="Annonceurs">
		</center>
	</div>
</a>

<a href="{{ path('adminAnnonces') }}">
	<div class="form-control" style="background-color: gray ; width: 250px; height: 280px; position: absolute; margin-left: 40%; padding: 0; margin-top: 100px">
		<center>
			<h1 class="btn btn-dark btn-block" style="text-align: center; font-size: x-large; margin: 0">Annonces</h1>
			<img style="width: 200px; height: 200px; margin-top: 15px" src="{{ asset('bundles/app/images/annonces.png') }}" alt="Annonces">
		</center>
	</div>
</a>

<a href="{{ path('adminCategories') }}">
	<div class="form-control" style="background-color: gray ; width: 250px; height: 280px; position: absolute; margin-left: 70%; padding: 0; margin-top: 100px">
		<center>
			<h1 class="btn btn-dark btn-block" style="text-align: center; font-size: x-large; margin: 0">Catégories</h1>
			<img style="width: 200px; height: 200px; margin-top: 15px" src="{{ asset('bundles/app/images/categories.png') }}" alt="Catégories">
		</center>
	</div>
</a>

<a href="{{ path('adminRegions') }}">
	<div class="form-control" style="background-color: gray ; width: 250px; height: 280px; position: absolute; margin-left: 10%; padding: 0; margin-top: 450px">
		<center>
			<h1 class="btn btn-dark btn-block" style="text-align: center; font-size: x-large; margin: 0">Régions</h1>
			<img style="width: 200px; height: 200px; margin-top: 15px" src="{{ asset('bundles/app/images/regions.png') }}" alt="Régions">
		</center>
	</div>
</a>

<a href="{{ path('adminReglages') }}">
	<div class="form-control" style="background-color: gray ; width: 250px; height: 280px; position: absolute; margin-left: 40%; padding: 0; margin-top: 450px">
		<center>
			<h1 class="btn btn-dark btn-block" style="text-align: center; font-size: x-large; margin: 0">Réglages</h1>
			<img style="width: 200px; height: 200px; margin-top: 15px" src="{{ asset('bundles/app/images/reglages.png') }}" alt="Réglages">
		</center>
	</div>
</a>

<a href="{{ path('adminArchive') }}">
	<div class="form-control" style="background-color: gray ; width: 250px; height: 280px; position: absolute; margin-left: 70%; padding: 0; margin-top: 450px; margin-bottom: 50px">
		<center>
			<h1 class="btn btn-dark btn-block" style="text-align: center; font-size: x-large; margin: 0">Archive</h1>
			<img style="width: 200px; height: 200px; margin-top: 15px" src="{{ asset('bundles/app/images/archive.png') }}" alt="Archive">
		</center>
	</div>
</a>

