{% include 'Textiles/admin.html.twig' %}
<br><br><br>
{% if archive %}
<h3 style="text-align: center;">Annonces archivées</h3>
<br>
<table class="table table-bordered">
	<thead class="thead-light">
		<tr>
			<th scope="col" style="text-align: center;">ID</th>
			<th scope="col" style="text-align: center;">Titre</th>
			<th scope="col" style="text-align: center;">Catégorie</th>
			<th scope="col" style="text-align: center;">Description</th>
			<th scope="col" style="text-align: center; width: 180px;">Date suppression</th>
			<th scope="col" style="text-align: center;">Prix</th>
			<th scope="col" style="text-align: center;">Image</th>
			<th scope="col" style="text-align: center;">Region</th>
			<th scope="col" style="text-align: center;">Annonceur</th>
			<th scope="col" style="text-align: center;">Actions</th>
		</tr>
	</thead>
	<tbody>

		{% for annonce in archive %}
		<tr>
			<td style="text-align: center; vertical-align: middle;">{{ annonce.id }}</td>
			<td style="text-align: center; vertical-align: middle;">{{ annonce.nomProd }}</td>
			<td style="text-align: center; vertical-align: middle;">{{ annonce.categorie.nomCategorie }}</td>
			<td style="text-align: center; vertical-align: middle;">{{ annonce.description }}</td>
			<td style="text-align: center; vertical-align: middle;">
				{% if ( annonce.dateSuppression | date('j')  ==  'now' | date('j')) %}
                    Aujourd'hui {{ annonce.dateSuppression | date('H:i') }}
                {% elseif ( annonce.dateSuppression | date('j')  ==  'now' | date('j')-1) %}
                    Hier {{ annonce.dateSuppression | date('H:i') }}
                {% else %}
                    {{ annonce.dateSuppression | localizeddate('none', 'none', null, null, 'd MMMM') }} {{ annonce.dateSuppression | date('H:i') }}
                {% endif %}
			</td>
			<td style="text-align: center; vertical-align: middle;">{{ annonce.prix }} DT</td>
			<td style="text-align: center; vertical-align: middle;"><img style="width: 70px; height: 70px" src="{{ asset('uploads/archive/' ~ annonce.image ) }}" alt="Image Annonce"></td>
			<td style="text-align: center; vertical-align: middle;">{{ annonce.region.nomRegion }}</td>
			<td style="text-align: center; vertical-align: middle;"><a href="/admin-panel/annonces/{{ annonce.idAnnonceur.id }}">{{ annonce.idAnnonceur.nomAnnonceur }}</a></td>
			<td style="text-align: center; vertical-align: middle;"><button class="btn btn-danger btn-lg" onclick="showConfirm({{ annonce.id }})"><i class="material-icons">delete</i></button></td>
		</tr>
		<div id="confirm{{ annonce.id }}" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="margin-left: 70px">Confirmer la suppression</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <h4 style="">Êtes-vous sûr de vouloir supprimer définitivement l'annonce {{ annonce.nomProd }} ?</h4>
                </div>
                <div class="modal-footer">
                    <a href="/supprimer-definitivement/{{ annonce.id }}"><button type="button" class="btn btn-danger">Oui</button></a>
                    <button type="button" class="btn btn-success" onclick="hideConfirm({{ annonce.id }})">Non</button>
                    <button type="button" class="btn btn-primary" onclick="hideConfirm({{ annonce.id }})">Annuler</button>
                </div>
            </div>
        </div>
    </div>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h3 style="text-align: center;">Aucune annonce archivée</h3>
<br><br>
<center>
	<img src="{{ asset('bundles/app/images/noAnnonces.png') }}" alt="Pas d'annonces">
</center>
{% endif %}

<div style="position: fixed; background-color: black; width: 100%; height: 100%; top: 0; opacity: 0.6; display: none; z-index: 8"
id="black_div">
</div>


<script type="text/javascript">
    function showConfirm(id) {
        document.getElementById('confirm'+id).style.display = "block";
        document.getElementById('black_div').style.display = "block";
    }

    function hideConfirm(id) {
        document.getElementById('confirm'+id).style.display = "none";
        document.getElementById('black_div').style.display = "none";
    }

</script>