{% include 'base.html.twig' %}
{% include 'Textiles/profil.html.twig' %}

    <div class="form-control" style="width: 40%; margin-top: 150px; margin-left: 30%; margin-bottom: 100px; padding: 25px">
        <h3 style="text-align: center">Réglages</h3>
        <hr>
        {{form_start(form)}}
        {{ form_row(form.username) }}
        {{ form_row(form.nomAnnonceur) }}
        {{ form_row(form.prenomAnnonceur) }}
        {{ form_row(form.emailAnnonceur) }}
        {{ form_row(form.numAnnonceur) }}
      
        <div style="float: left; margin-top: 37px; margin-right: 75px">
            {{ form_row(form.imageAnnonceur) }}
        </div>

        <div style="margin-top: 10px;">
            <img id="preview" src="{{ asset('bundles/app/images/empty.png') }}" style="width: 150px; height: 150px; border-color: #ccc; border-style: dashed; border-radius: 300px" />
        </div>
        <br>
        <div style="width: 30px; float:left; margin-top: -2px">
            <i class="material-icons">lock outline</i>
        </div>
        <a href="{{ path('reglagesPassword')}}">Modifier votre mot de passe</a>
        <br>

        

        {{ form_row(form.confirmer) }}
        {{form_end(form)}}
    </div>

<script type="text/javascript">
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#preview').attr('src', e.target.result);
                document.getElementById('preview').style.borderColor = "white";
            }

            reader.readAsDataURL(input.files[0]);
        }else{
            hideImage();
        }
    }

    function hideImage(){
        $('#preview').attr('src', "{{ asset('bundles/app/images/empty.png') }}");
        document.getElementById('preview').style.borderColor = "#ccc";
        document.getElementById('preview').style.borderStyle = "dashed";
    }

    $("#form_imageAnnonceur").change(function() {
        readURL(this);
    });

   
</script>