{% include 'base.html.twig' %}
{% block body %}

<script src='https://www.google.com/recaptcha/api.js'></script>

<style type="text/css">
    li{
        color: red;
    }
</style>
    <div class="form-control" style="width: 40% ; margin-left: 30%; ">
        <h3 style="text-align: center">Créer un compte</h3>
        <hr>
            {{form_start(form)}}
            <i style="color: rgb(230,0,0)">* </i>{{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}

            <i style="color: rgb(230,0,0)">* </i>{{ form_label(form.emailAnnonceur) }}
            {{ form_widget(form.emailAnnonceur) }}
            {{ form_errors(form.emailAnnonceur) }}

            <i style="color: rgb(230,0,0)">* </i>{{ form_label(form.password.first) }}
            {{ form_widget(form.password.first) }}
            <i style="color: rgb(230,0,0)">* </i>{{ form_label(form.password.second) }}
            {{ form_widget(form.password.second) }}

            {{ form_row(form.nomAnnonceur) }}
            {{ form_row(form.prenomAnnonceur) }}



            {{ form_label(form.numAnnonceur) }}
            {{ form_widget(form.numAnnonceur) }}
            {{ form_errors(form.numAnnonceur) }}
        
        <div style="float: left; margin-top: 37px; margin-right: 75px">
            {{ form_row(form.imageAnnonceur) }}
        </div>

        <div style="margin-top: 10px;">
            <img id="preview" src="{{ asset('bundles/app/images/defaut.png') }}" style="width: 150px; height: 150px; border-color: #ccc; border-style: solid; border-radius: 300px" />
        </div>
        <br>

                
        <center>
                <div class="g-recaptcha" data-sitekey="6Lc7PloUAAAAAFhRrk_V8hwUCBZoJ5hG_JH7AVlQ"></div>
        </center>

        <br>
        <hr>
            <p style="font-size: smaller;">Indications :</p>
            <p style="font-size: smaller;">- (<i style="color: rgb(230,0,0)">*</i>) Champs obligatoires.</p>
            <p style="font-size: smaller;">- Captcha obligatoire.</p>
        <hr>
        {{ form_row(form.créer) }}
        {{form_end(form)}}
        <hr>
        <p style="text-align: center; font-size: small">
            Vous avez déjà un compte ?
            <a href="{{ path('login') }}" style="color: #3f51b5;">Se connecter</a>
        </p>
    </div>
    <br><br><br>

<script type="text/javascript">
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#preview').attr('src', e.target.result);
                document.getElementById('preview').style.borderColor = "white";
            }

            reader.readAsDataURL(input.files[0]);
        }else{
            hideImage();
        }
    }

    function hideImage(){
        $('#preview').attr('src', "{{ asset('bundles/app/images/defaut.png') }}");
    }

    $("#appbundle_annonceur_imageAnnonceur").change(function() {
        readURL(this);
    });
</script>
{% endblock %}