<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Affariat Textile{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-reboot.min.css') }}">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/w3.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/icon.css') }}">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/toggle-button.css') }}">

    <script type="text/javascript" src="{{ asset('bundles/app/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>


</head>
<body id="body">

<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between" id="mainNav"
     style="position: fixed; top: 0; width: 100%; z-index: 6">
    <a class="navbar-brand" href="{{ path('homepage') }}"><img width="120px" src="{{ asset('bundles/app/images/logo.png') }}" alt="My logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('produits') }}">Annonces<span class="sr-only">(current)</span></a>
            </li>
        </ul>


        {% if is_granted('ROLE_USER') %}
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {% if app.user.prenomAnnonceur!=null and app.user.nomAnnonceur!= null %}
                            {{ app.user.prenomAnnonceur }} {{ app.user.nomAnnonceur }}
                        {% else %}
                            {{ app.user.username }}
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('mesAnnonces') }}">Mes Annonces</a>
                        <a class="dropdown-item" href="{{ path('annoncesSupprimees') }}">Annonces Supprimées</a>
                        <a class="dropdown-item" href="{{ path("reglages") }}">Réglages</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ logout_path() }}" class="dropdown-item">Déconnexion</a>
                    </div>
                </li>
            </ul>
        {% elseif is_granted('ROLE_ADMIN') %}
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ app.user.nomAdmin }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('adminDashboard') }}">Admin Panel</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ logout_path() }}" class="dropdown-item">Déconnexion</a>
                    </div>
                </li>
            </ul>
        {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Créer un compte<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Se Connecter<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        {% endif %}
        <form method="post" action="{{ path('ajouter') }}">
            <button type="submit" class="btn btn-outline-primary my-2 my-sm-0 ml-2">Déposer annonce</button>
        </form>
    </div>
</nav>


{% set msg=false %}
<div class="row" style="display: none; width: 100%; height:55px ; z-index: 19; margin: 0; position: fixed" id="messages">
    <div style="width: 100%;">
        <center>
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success" style="width: 100%; height:55px;">{{ flash_message }}</div>
                {% set msg=true %}
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" style="width: 100%; height:55px;">{{ flash_message }}</div>
                {% set msg=true %}
            {% endfor %}
        </center>
        {% if msg==true %}
            <button class="btn btn-danger" style="position: fixed; right: 0; top: 0; display: block" id="cacher"
                    onclick="hideMessages()">X
            </button>
            <script type="text/javascript">
                document.getElementById('messages').style.display = "block";
            </script>
        {% else %}
            <button class="btn btn-danger" style="position: fixed; right: 0; top: 0; display: none" id="cacher"
                    onclick="hideMessages()">X
            </button>
        {% endif %}
    </div>
</div>
<br>

{% if horizentale.publicite == true %}
<div id="horizentale" name="horizentale" style="width: 83%; height: 16%; position: fixed; z-index: 100; margin-top:42% ; margin-left:5% ; background-color: black">
    <img style="width: 100%; height: 100%;" src="{{ asset('bundles/app/images/pub.png') }}">
</div>
{% endif %}

{% if verticale.publicite == true %}
<div id="verticale" name="verticale" style="width: 16%; height: 50%; position: fixed; z-index: 100; margin-top:2.4% ; margin-left:92% ; background-color: black">
    <img style="width: 100%; height: 200%;" src="{{ asset('bundles/app/images/pubV.png') }}">
</div>
{% endif %}

<div class="container">
    <div style="margin-top: 40px; position: static;">{% block body %}{% endblock %}

    </div>

</div><!-- /.container -->

<div style="position: fixed; background-color: black; width: 100%; height: 100%; top: 0; opacity: 0.6; display: none; z-index: 8"
     id="black_div">
</div>
<script type="text/javascript">
    function hideMessages() {
        document.getElementById('messages').style.display = "none";
        document.getElementById('cacher').style.display = "none";
    }

    window.setTimeout(hideMessages, 10000);

</script>

</body>
</html>

